.container{
    max-width: 1320px;
    margin: 0 auto;
}
.img{
    /* height: 200px; */
    /* object-fit: contain; */
    /* width: 100%; */
}
.img img{
    display: block;
    width: 100%;
    border-radius: 10px;
    /* height: 200px; */
}
